.intreductionP {
  font-family: Lora;
  font-size: 34px;
  color: white;
  width: 85%;
}
.titleInAboutPage {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  color: white;
}
.textInAboutPage {
  font-family: Roboto;
  font-size: 14px;
  color: white;
}
